@model gotcha_web.Models.Game;
@{
    var g = Model;
    ViewData["render_db_home"] = true;
    ViewData["NavDark"] = true;
    var owner = Convert.ToBoolean(ViewData["owner"]);
    var inGame = Convert.ToBoolean(ViewData["playerInGame"]);
    var playerEliminated = Convert.ToBoolean(ViewData["playereliminated"]);
}


<div class="container p2">
    <partial name="_Nav"></partial>
</div>



<div class="container p2">
    <div class="game-detail-container">
        <div>
            <h1>@Model.Title<h1>
            <div class="game-detail-container-playercount"><span class="material-icons">people</span>
                        <span class="count">@Model.GetPlayerCount()</span>
            </div>
        </div>
        <p>Van: <span class="gameleader">@g.GameLeader.alias</p></span>
        <p><span>Beschrijving</span>: g.Description</p>
        @{
            if(!owner && !inGame && !Model.Active){
                <a href='/Dashboard/JoinGame/@Model.GameId' class="join-game">Neem deel aan spel</a>
            }else if(owner && Model.GetPlayerCount() >= 3){
                @if(!Model.Active){
                    <a href="/Dashboard/StartGame/@Model.GameId" class="join-game">Start spel</a>
                }else{
                    <a href="/Dashboard/StopGame/@Model.GameId" class="join-game">Stop spel</a>
                }
            }
        }
    </div>
    @if(owner){
        <div class="players-container">
            <h2>Spelers</h2>
            <div>
                @if(Model.GetPlayerCount() == 0){
                    <p>Er zitten nog geen spelers in dit spel</p>
                }else{
                    <div class="playeritems">
                        @foreach (var p in Model.Players)
                        {
                            <div class="playeritem">
                                <p><span>@p.alias</span>@if(playerEliminated){<span class="eliminated">Geëlimineerd</span>}else{<span class="active">Actief</span>}</p>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        
        
    }
</div>