@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #f21d44;
  --redtransp: #f21d44ee;
  --fontColor: #2e3041;
  --shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

html {
  height: 100%;
  font-size: 62.5%;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
label,
input,
a {
  font-family: "Montserrat", sans-serif;
  color: var(--fontColor);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}
/*REUSABLES
______
______
______
*/

.p2 {
  padding: 2rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.logo span {
  font-weight: 800;
  color: #fff;
}
.logo-dark span {
  color: var(--red);
  font-weight: 800;
}

nav {
  width: 100%;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-right ul {
  display: flex;
}
.nav-right ul li:first-of-type {
  margin-right: 1rem;
}
.nav-right ul li a {
  color: #fff;
  padding: 0.5rem;
  transition: transform 0.3s;
  display: inline-block;
  font-size: 1.7rem;
}
nav.dark .nav-right ul li a {
  color: var(--red);
}
.nav-right ul li:hover a {
  transform: scale(1.05);
}

.button {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.button-red {
  background-color: var(--red);
  color: #fff;
}

.button-big {
  padding: 1rem 4rem;
}

.button-red-noborder {
  color: var(--red);
}

.input:focus {
  border: 1px solid var(--red);
}

.formcontrol {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.formcontrol input {
  padding: 1rem;
  font-size: 15px;
  border: 1px solid var(--fontColor);
  border-radius: 5px;
  transition: border-color 0.3s;
}

.formcontrol label {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.formcontainer {
  max-width: 520px;
  margin: 3rem auto 0;
}
.formcontainer h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.d-flex {
  display: flex;
}

.form-buttonbar {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.hide {
  display: none;
}

/*
_
_
_
*/

/*
_
_
Home 
*/
.home-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-main-content-buttonbar {
  display: flex;
  margin-top: 5rem;
  align-items: center;
}
.home-main-content p {
  padding-top: 3rem;
  font-size: 2rem;
}
.home-header {
  height: 50vh;
  background: linear-gradient(var(--redtransp), var(--redtransp)),
    url("/assets/images/chess.jpeg");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1000px) {
  .home-header,
  .game-header .banner {
    background-size: 170%;
  }
}

.home-header-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.home-header-content h1 {
  font-size: 5rem;
  font-weight: 300;
  padding-bottom: 3rem;
  color: #fff;
}

/*
_
_
_
*/

/*
_
_
Intro 
*/

.stepscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.step-card {
  padding: 3rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
  width: 70%;
  margin-bottom: 4rem;
  border-left: 2px solid var(--red);
}

@media screen and (max-width: 800px) {
  .step-card {
    width: 100%;
  }
}
.step-card h5 {
  color: var(--red);
  font-size: 2rem;
  margin-bottom: 1rem;
}
.step-card p {
  font-size: 1.5rem;
}

/*
_
_
_
*/

/*
_
_
Auth 
*/

/*
_
_
_
*/

/*
_
_
Dashboard 
*/

.main-dashboard-container {
  max-width: 620px;
  margin: auto;
  justify-content: center;
}
.main-dashboard-links {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
}

.main-dashboard-container h1 {
  text-align: center;
  font-size: 3rem;
}

.main-dashboard-links li a {
  padding: 2rem;
  color: var(--red);
  width: 100%;
  margin-bottom: 1rem;
  font-size: 2rem;
  display: block;
  text-align: center;
  border-radius: 5px;
  transition: background 0.3s;
}

.main-dashboard-links li a:hover {
  background: #eee;
}
/*
_
_
_
*/
/*
_
_
Games 
*/
.game-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-nav-container ul {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  max-width: 90%;
  overflow: scroll;
}
.game-nav-container ul {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  max-width: 90%;
  overflow: scroll;
}

.game-nav-container ul li {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-nav-container ul li a {
  padding: 1.5rem;
  display: block;
  font-size: 1.5rem;
  transition: background 0.3s;
  border-radius: 5px;
}
.game-nav-container ul li a:hover,
.game-nav-container ul li a.active {
  background: #eee;
}

.game-header .banner {
  background: linear-gradient(var(--redtransp), var(--redtransp)),
    url("/assets/images/chess.jpeg");
  min-height: 30vh;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.games-container {
  background-color: #eee;
  min-height: 80vh;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.games-list {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 70%;
}
.games-container .nogamesmessage {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.games-list .game-item {
  background: #fff;
  border-radius: 5px;
  padding: 3rem;
  width: 100%;
  border-left: 3px solid #f21d44;
  box-shadow: var(--shadow);
  transition: transform 0.3s;
  margin: 0.5rem;
}
@media screen and (max-width: 800px) {
  .games-list {
    width: 90%;
  }
}

.games-list .game-item:hover {
  transform: scale(1.03);
}

.game-item h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.game-item p {
  font-size: 1.3rem;
}
.game-item p span {
  font-weight: bold;
  color: var(--red);
}

.game-item-innercont {
  display: flex;
  justify-content: space-between;
}

.game-item-right {
  display: flex;
  align-items: center;
}
.game-item-right .count {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.game-detail-container {
  padding-top: 4rem;
}
.game-detail-container h1 {
  font-size: 3rem;
  text-transform: capitalize;
  margin-right: 5rem;
}
.game-detail-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.game-detail-container p span.gameleader {
  color: var(--red);
}
.game-detail-container p span {
  font-weight: bold;
}
.game-detail-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.game-detail-container > div > div {
  display: flex;
  align-items: center;
}

.game-detail-container > div > div .count {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.game-detail-container .join-game {
  display: block;
  background-color: var(--red);
  color: #fff;
  padding: 2rem;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 5px;
}

.players-container {
  margin: 6rem 0;
}
.players-container h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--fontColor);
}
.players-container > div > p {
  font-size: 1.5rem;
  margin: 2rem 0;
  text-align: center;
  color: #2e3041;
}
.players-container > div .playeritems {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.playeritems .playeritem {
  padding: 1rem 5rem;
  border-bottom: 0.5px solid #eee;
}
.playeritems .playeritem p {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.playeritems .playeritem p span:first-of-type {
  text-transform: capitalize;
}
.playeritems .playeritem p .active {
  color: rgb(112, 241, 119);
}
.playeritems .playeritem p .eliminated {
  color: var(--red);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
}

.contracts-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--fontColor);
  padding-bottom: 1rem;
}
.contracts-container > p {
  font-size: 1.5rem;
}
.genconbut {
  padding: 2rem !important;
  margin-top: 2rem;
}
.contracts-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.contracts-list .contract p {
  display: flex;
  justify-content: space-between;
}

.contracts-list .contract {
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
.contracts-list .contract span {
  font-size: 1.5rem;
}
.contracts-list .contract span.alias {
  font-weight: 900;
}

.mycontract-container {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  border-radius: 5px;
}
.mycontract-container h3 {
  font-size: 2rem;
  color: var(--red);
}

.mycontract-container h5 {
  margin: 1rem 0;
  font-size: 1.5rem;
}
/*
_
_
_
*/

/*
_
_
SEARCH
*/
.searchcontainer form {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  box-shadow: var(--shadow);
  border-radius: 5px;
  overflow: hidden;
}

.searchcontainer .searchinput {
  width: 100%;
  border: none;

  padding: 2rem;
  font-size: 2rem;
}

.searchcontainer .searchbutton {
  padding: 1.5rem;
  display: block;
  border: none;
  background: var(--red);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

/*
_
_
_
*/
