@using gotcha_web.Models;

@{
    WordGame game = (WordGame)ViewData["game"];
    ViewData["NavDark"] = true;
    ViewData["Title"] = game.Title;
    var owner = Convert.ToBoolean(ViewData["owner"]);
    var inGame = Convert.ToBoolean(ViewData["playerInGame"]);
    ViewData["playercount"] = game.GetPlayerCount();
    ViewData["players"] = game.Players;
    ViewData["playereliminated"] = game.isPlayerEliminated(Convert.ToString(ViewData["alias"]));
    ViewData["Gameid"] = game.GameId;
    ViewData["render_db_home"] = true;
    ViewData["Description"] = game.Description;
    ViewData["gameleaderalias"] = game.GameLeader.alias;
    ViewData["gameactive"] = game.Active;
    Console.WriteLine(game.WordContracts);
}





<partial name="_GameDetail"></partial>


<div class="container p2">
    @if (owner){
     <div class="grid-container">
            <div class="contracts-container">
                <h2>Contracten</h2>
                @if(game.Active){
                    <div class="contracts-list">
                        @{
                            
                                @foreach (var c in game.WordContracts)
                                {
                                    <div class="contract">
                                        <p><span class="alias">@c.Assassin.alias</span><span>Jaagt op</span><span class="alias">@c.Target.alias</span><span>Met woord: <span>@c.Word</span></span></p>
                                    </div>
                                }



                        }
                        
                    </div>
                }else{
                    <p>Het spel is nog niet gestart</p>
                }
            </div>
     </div>

}else{
    <div class="mycontract-container">
        <h1>yes</h1>
    </div>
}



</div>

